<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>guide-for-android-summit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A7537981F23990D002559F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A7537AE1F23990D002559F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A7537B91F23990D002559F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
